body{
    background-color: black;
}
#carouselExampleIndicators{
    margin: 20px 600px 0px 600px;
}


/*login*/
body.login{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(40deg,  #cc0000 0%, #6600cc 100%);
}
.tela-login{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    color: white;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.enviar{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
}
button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}